# Firebase Authentication Configuration
VITE_FIREBASE_API_KEY=AIzaSyBLGhD8MNujzDFFq0WQrwHcMKDtawtEmIU
VITE_FIREBASE_AUTH_DOMAIN=letterbox-1b06d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=letterbox-1b06d
VITE_FIREBASE_STORAGE_BUCKET=letterbox-1b06d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=407459576350
VITE_FIREBASE_APP_ID=1:407459576350:web:49e016e3bdac09c2e18c0f
VITE_FIREBASE_MEASUREMENT_ID=G-0ZJ8EDM5HM
