PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=letter_box
JWT_SECRET=your_jwt_secret_here
FIREBASE_PROJECT_ID=letterbox-1b06d
# FIREBASE_SERVICE_ACCOUNT={"type": "service_account", ...}
# GOOGLE_APPLICATION_CREDENTIALS=/path/to/serviceAccountKey.json
